.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #fff;
}

.header_logo {
    object-fit: contain;
    height: 25px;
    margin-left: 20px;
}

.header__left {
    display: flex;
    /* align-items: center; */
}

.header__search {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.header__searchButton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__search input {
    outline-width: 0;
    border: none;
    flex: 1;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 8px;
}